<section class="card">

  <header class="blog-header">{{title}}</header>
  <div class="row">
    <div class="col-12 content">
      {{blog_content}}
    </div>
    <div class="col-12 content">
      <b class="bottom">{{user.username}}</b>
      |
      <b class="bottom">{{format_date created_at}}</b>
      |
      <a href="/blogs/{{id}}">{{comments.length}}
        {{format_plural "comment" comments.length}}</a>
    </div>
  </div>

</section>