<section class="card">
  <a href="/blogs/{{id}}">
    <header>{{title}}</header>
    <div class="row">
      <div class="col-12">
        {{blog_content}}
      </div>
      <div class="col-12">
        <b>{{user.username}}</b>
        |
        {{format_date created_at}}
        |
        <a href="/blogs/{{id}}">{{comments.length}}
          {{format_plural "comment" comments.length}}</a>
      </div>
    </div>
  </a>
</section>