<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Blog Post
  </h2>
  <form class="edit-blog-form">
    <div>
        <label for="blog-title">Title</label>
        <input name="blog-title" type="text" value="{{blog.title}}" />
    </div>
    <div>
        <label for="blog-content">Content</label>
        <input name="blog-content" type="text" value="{{blog.blog_content}}"/>
    </div>
    <div>
        Written by you on {{format_date blog.created_at}}
      |
      <a href="/blog/{{blog.id}}">{{blog.comments.length}} {{format_plural "comment" blog.comments.length}}</a>
    </div>
    <button type="submit">Save</button>
    <button type="button" class="delete-post-btn">Delete</button>
  </form>
</article>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>

{{> comments blog.comments}}

<script src="/javascript/edit-blog.js"></script>
<script src="/javascript/delete-blog.js"></script>
<script src="/javascript/comment.js"></script>